<article class="portfolio-section">
    <%= image_tag "/images/weaveone.png", class: "project-image", alt: "daisy's portfolio" %>
        <section id="portfolio-text">
            <h3>portfolio project</h3>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
                    <br>
                                        Eos qui quos dolorem blanditiis veritatis aliquid quo fugit officiis debitis accusamus commodi maxime earum ratione, recusandae laudantium dolores alias. Magni, quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto? <br>
                                        Nobis quaerat consequuntur ullam modi, tempora vitae aut illum a, tenetur excepturi sit ex deserunt, ab temporibus sunt eligendi soluta.</p>
        </section>
</article>
        <div class="feed-posts">
            <%= image_tag "/images/weavefour.png", class: "project-image", alt: "Photo for things i might write about 2" %>
                <time>02/02/2021</time>
                        <a href="#">things I might write about 2</a>
                <%= image_tag "/images/weavetwo.png", class: "project-image", alt: "Photo hings I will most likely write about 3" %>
                    <time>03/02/2021</time>
                        <a href="#">things I will most likely write about 3</a>
                <%= image_tag "/images/weavethree.png", class: "project-image", alt: "im optimistic for a 4th post" %>
                    <time>04/02/2021</time>
                        <a href="#">im optimistic for a 4th post</a>
                <%= image_tag "/images/weavefive.png", class: "project-image", alt: "not sure what on earth ill be able to fill this one with" %>
                    <time>04/02/2021</time>
                        <a href="#">not sure what on earth ill be able to fill this one with </a>
        </div>
